/*-- events body --*/

.content {
  border: 1px solid rgb(28,75,102);
  padding: 1em 4em;
  border-radius: 5px;
}

h2 {
  font-family: abril fatface;
  font-weight: lighter;
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 14px;
}

h3, h4 {
  font-family: josefin sans;
  margin: .25em;
  padding: 0;
}

h3, h4, p {
  margin-left: 10px;
}

p {
  font-family: roboto;
  font-size: 16px;
  margin-bottom: 1.5em;
}

@media only screen and (max-width: 1000px) and (max-aspect-ratio: 13/9){

  /*-- mobile nav --*/

  .content {
    border: 1px solid rgb(28,75,102);
    padding: 2em;
    border-radius: 5px;
  }

  a.button {
    font-size: 30px;
    width: 700px;
  }

  body {
    margin: 2em;
  }

}
