/*-- header and navigation --*/

a.button {
  width: 200px;
  text-align: center;
  font-family: josefin sans;
  font-size: 20px;
  background-color: transparent;
  color: rgb(28,75,102);
  border-color: transparent;
  text-decoration: none;
}

a.button+a.button {
  border-left: 2px solid rgb(28,75,102);
  background-color: none;
}

a.button:hover, a.button:nth-child(3) {
  color: rgba(28,75,102,.5);
}

.navButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2em;
}

.rayAndMelissaText {
  font-family: abril fatface;
  font-size: 60px;
  color: rgb(55,24,21);
  margin: .5em 0 .5em 0;
  text-decoration: none;
}

body {
  margin: 1em 8em;
}

header {
  margin: 0 4em;
  text-align: center;
}

html {
  max-width: 1100px;
  margin: 0 auto;
  }

/*-- lodging section --*/

.bookingLink {
  display: block;
  margin: 1em 0;
}

.content {
  border: 1px solid rgb(28,75,102);
  padding: 1em 2em;
  border-radius: 5px;
}

.hotelDescription, .bookingLink a {
  font-size: 15px;
}

.hotelText {
  padding: 0;
  margin: 0 auto;
}

.hotelText a {
  font-family: raleway;
  font-weight: bold;
  color: rgb(55,24,21);
}

.intro {
  padding: 1em 0;
}

.hotelBlock {
  width: 100%;
  margin: .5em 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hotelPic {
  width: 30%;
  background-size: cover;
  background-repeat: repeat;
  min-height: 210px;
}

.kimpton .hotelPic {
  background-image: url("taconicHotel.jpg");
}

.hampton .hotelPic {
  background-image: url("hampton.jpg");
}

.inns .hotelPic {
  background-image: url("inns.jpg");
}

.img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}

.hotelText {
  width: 67%;
  padding: 1em;
}

.hotelBlock.kimpton {
  background-color: rgba(28,75,102,.2);
}

.hotelBlock.inns, .hotelBlock.hampton {
  border: 1px solid rgba(28,75,102,.2);
}

.rayAndMelissaText {
  font-family: abril fatface;
  font-size: 60px;
  color: rgb(55,24,21);
  margin: .5em 0 .5em 0;
  text-decoration: none;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

h1, h3 {
  font-family: josefin sans;
  color: rgb(55,24,21);
}

h1 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
  margin: 0;
}

img {
  max-width: 100%;
  margin: 0 auto;
}

p {
  font-family: raleway, sans-serif;;
  font-weight: lighter;
  font-size: 18px;
  color: black;
}

@media only screen and (max-width: 1000px) and (max-aspect-ratio: 13/9){

  /*-- mobile nav --*/

  .content {
    border: 1px solid rgb(28,75,102);
    padding: 2em;
    border-radius: 5px;
  }

  a.button {
    font-size: 30px;
    width: 700px;
  }

  body {
    margin: 2em;
  }

  /*-- --*/

  .kimpton, .hampton, .inns {
    width: 100%;
  }

  .options {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
  }

  .hotelText {
    width: 100%;
    padding: 0 20px;
    margin: 0;
  }

  h3 {
    margin: 0;
    padding-top: .5em;
    font-size: 30px;
  }

.hotelPic {
    display: none;
  }

}
