/*-- header and navigation --*/

a.button {
  width: 200px;
  text-align: center;
  font-family: josefin sans;
  font-size: 20px;
  background-color: transparent;
  color: rgb(28,75,102);
  border-color: transparent;
  text-decoration: none;
}

a.button+a.button {
  border-left: 2px solid rgb(28,75,102);
  background-color: none;
}

a.button:hover, a.button:nth-child(2) {
  color: rgba(28,75,102,.5);
}

.navButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2em;
}

.rayAndMelissaText {
  font-family: abril fatface;
  font-size: 60px;
  color: rgb(55,24,21);
  margin: .5em 0 .5em 0;
  text-decoration: none;
}

body {
  margin: 1em 8em;
}

header {
  margin: 0 4em;
  text-align: center;
}

html {
  max-width: 1100px;
}

/*-- venue section --*/

.content {
  border: 1px solid rgb(28,75,102);
  padding: 1em 2em;
  border-radius: 5px;
}

.gettingThere h3 {
  margin-top: 1.5em;
}

.mobileImage {
  display: none;
}

.textBlock {
  background-color: rgb(55,24,21);
  color: white;
  padding: 1em;
  width: 300px;
  float: left;
  margin: 5%;
}

.venueBlock {
  background-image: url(kimptonoutside.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  margin: 0;
}

h3, h2 {
  font-family: josefin sans;
  font-weight: lighter;
  margin: 0;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

p {
  font-family: raleway;
  font-size: 18px;
}

@media only screen and (max-width: 1000px) and (max-aspect-ratio: 13/9){

  /*-- mobile nav --*/

  .content {
    border: 1px solid rgb(28,75,102);
    padding: 2em;
    border-radius: 5px;
  }

  a.button {
    font-size: 30px;
    width: 700px;
  }

  body {
    margin: 2em;
  }

  .mobileImage {
  display: block;
  width: 100%;
  margin: 1em 0;
}

  .textBlock {
  float: none;
  margin: 0;
  background-color: white;
  color: rgb(55,24,21);
  padding: 1em 0;
  width: 100%;
}

  .kimptonText {
  margin-top: 0;
}

  .venueBlock {
  height: fit-content;
  background-image: none;
}

  h3 {
  font-size: 35px;
}

  h2 {
  font-size: 40px;
}

  img {
  width: 100%
}

}
