.rayAndMelissaText {
  font-family: abril fatface;
  font-size: 60px;
  color: rgb(55,24,21);
  margin: .5em 0 .5em 0;
  text-decoration: none;
}

h2 {
  font-family: josefin sans;
  font-weight: lighter;
  font-size: 30px;
  color: black;
  text-align: center;
  padding-top: 5em;
}

header {
  margin: 0 4em;
  text-align: center;
}

.navButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2em;
}

a.button {
  width: 200px;
  text-align: center;
  font-family: josefin sans;
  font-size: 20px;
  background-color: transparent;
  color: rgb(28,75,102);
  border-color: transparent;
  text-decoration: none;
}

a.button+a.button {
  border-left: 2px solid rgb(28,75,102);
  background-color: none;
}

a.button:hover {
  color: rgba(28,75,102,.5);
}

a.button:nth-child(2) {
  color: rgba(28,75,102,.5);
}
