/*-- venue section --*/

.content {
  border: 1px solid rgb(28,75,102);
  padding: 1em 4em;
  border-radius: 5px;
}

.gettingThere h3 {
  margin-top: 1.5em;
}

.mobileImage {
  display: none;
}

.textBlock {
  background-color: rgb(55,24,21);
  color: white;
  padding: 1em;
  width: 300px;
  float: left;
  margin: 5%;
}

.venueBlock {
  background-image: url(kimptonOutside.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  margin: 0 0 2em 0;
}

h3, h2 {
  font-family: josefin sans;
  font-weight: lighter;
  margin: 0;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

p {
  font-family: roboto;
  font-size: 16px;
}

@media only screen and (max-width: 1000px) and (max-aspect-ratio: 13/9){

  /*-- mobile nav --*/

  .content {
    border: 1px solid rgb(28,75,102);
    padding: 2em;
    border-radius: 5px;
  }

  a.button {
    font-size: 30px;
    width: 700px;
  }

  body {
    margin: 2em;
  }

  .mobileImage {
  display: block;
  width: 100%;
  margin: 1em 0;
}

  .textBlock {
  float: none;
  margin: 0;
  background-color: white;
  color: rgb(55,24,21);
  padding: 1em 0;
  width: 100%;
}

  .kimptonText {
  margin-top: 0;
}

  .venueBlock {
  height: fit-content;
  background-image: none;
}

  h3 {
  font-size: 35px;
}

  h2 {
  font-size: 40px;
}

  img {
  width: 100%
}

}
