.box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.hide {
  display: none;
}

.image, .text {
  width: 40%;
}

.order {
  width: 100%;
  text-align: center;
}

.text p {
  padding: 1em;
  margin: 0;
}


body {
  background: #FFF0F5;
  text-align: center;
}

h1, h2{
  font-family: 'Lobster Two';
  font-size: 40px;
  color: red;
}

h3 {
  font-family: 'Amatic SC';
  font-size: 30px;
  color: #BD008B;
}

img {
  width: 100%;
  image-orientation: from-image;
}

input, button {
  background-color: white;
  color: #cb5e71;
  border-radius: 3px;
  padding: 1em;
  margin-top: 1em;
}

p {
  padding-top: 4em;
}

p, input, button {
  font-family: 'Karla';
  font-size: 20px;
}

@media only screen and (max-width: 1000px) and (max-aspect-ratio: 13/9){

  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .image, .text {
    width: 80%;
  }

  h3#number{
    margin: 0;
  }
  
  p {
    padding: 1em;
  }

}
