/*-- registry body --*/

.content {
  border: 1px solid rgb(28,75,102);
  padding: 1em 4em;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.crateBarrel img {
  max-width: 400px;
}

.westElm img {
  max-width: 300px;
}

.registry-section span{
  display: block;
  font-family: roboto;
  font-size: 14px;
  margin-bottom: 1.5em;
  font-style: italic;
  text-align: center;
  padding-top: 10px;
}

.registry-section {
  margin: 40px;
}

h2 {
  font-family: josefin sans;
  font-weight: lighter;
  font-size: 30px;
  color: black;
  text-align: center;
  padding-top: 5em;
}

h3, h4, p {
  margin-left: 10px;
}

p, a {
  font-family: roboto;
  font-size: 16px;
  margin-bottom: 1.5em;
}

@media only screen and (max-width: 1000px) and (max-aspect-ratio: 13/9){

  /*-- mobile nav --*/

  .content {
    border: 1px solid rgb(28,75,102);
    padding: 2em;
    border-radius: 5px;
  }

  a.button {
    font-size: 30px;
    width: 700px;
  }

  body {
    margin: 2em;
  }

}
